<% include header %>
<body class="body-bg1">
    <div class="main">
        <div class="banner">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="/images/hzy.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="/images/qc.png" alt=""></div>
                </div>

                <div class="swiper-pagination"></div>
            </div>
        </div>

        <div class="main-content">
            <div class="title">
                <span><%= title %></span>
            </div>
            <p class="p">
                <q>共青团河源职业技术学院委员会</q>，简称<q>团委会</q>，是校党委和上级团组织领导下的先进青年的群众组织，是广大青年学生在实践中学习中国特色社会主义和共产主义的学校，作为中国共产党的助手和后备军，团委会担负着团结和引领校内广大青年学生，执行党的青年工作方针，服务广大青年成长成才，创新性地开展青年工作的职能。
            </p>
            <p class="p">
                <q>团委会</q>由团委老师直接领导，下设办公室、组织部、宣传部、纪检部和信息技术部五个部门。
            </p>
            <div class="department-item">
                <ul class="clearfix">
                    <li class="color1">
                        <a href="department_teacher">
                            <i class="iconfont">&#xe60e;</i>
                            <p>团委老师</p>
                        </a>
                    </li>
                    <li class="color2">
                        <a href="department_bgs">
                            <i class="iconfont">&#xe60d;</i>
                            <p>办公室</p>
                        </a>
                    </li>
                    <li class="color3">
                        <a href="department_zzb">
                            <i class="iconfont">&#xe620;</i>
                            <p>组织部</p>
                        </a>
                    </li>
                    <li class="color4">
                        <a href="department_xcb">
                            <i class="iconfont">&#xe611;</i>
                            <p>宣传部</p>
                        </a>
                    </li>
                    <li class="color5">
                        <a href="department_jjb">
                            <i class="iconfont">&#xe606;</i>
                            <p>纪检部</p>
                        </a>
                    </li>
                    <li class="color6">
                        <a href="department_xxjsb">
                            <i class="iconfont">&#xe608;</i>
                            <p>信息技术部</p>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="title">
                <span>联系方式</span>
            </div>
            <div>
                河职院校团委办公室地址：<br />
                　　东环路大学城河源职业技术学院<br />
                河职院校团委办公室联系电话：<br />
                　　0762-3800023<br />
                邮编：517000
            </div>
        </div>
    </div>
<% include footer %>