<% include header %>
<body class="body-bg1">
    <div class="main">
        <div class="banner">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="/images/hzy.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="/images/qc.png" alt=""></div>
                </div>

                <div class="swiper-pagination"></div>
            </div>
        </div>

        <div class="main-content">
            <div class="department-message">
                 <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="tab1">
                                <div class="department-title">
                                    <i>　</i>
                                    <span class="title1"><%= title %></span>
                                    <!-- <span class="title2">老师风采</span> -->
                                </div>
                                <p class="p">
                                    <q>共青团河源职业技术学院委员会</q>，简称<q>团委会</q>，是校党委和上级团组织领导下的先进青年的群众组织，是广大青年学生在实践中学习中国特色社会主义和共产主义的学校，作为中国共产党的助手和后备军，团委会担负着团结和引领校内广大青年学生，执行党的青年工作方针，服务广大青年成长成才，创新性地开展青年工作的职能。
                                </p>
                                <div class="group-photo">
                                    <figure>
                                        <img src="/images/hz1.jpg" alt="">
                                        <figcaption>
                                            校团委全体老师与学生干部合影
                                        </figcaption>
                                    </figure>
                                    <figure>
                                        <img src="/images/hz2.jpg" alt="">
                                        <figcaption>
                                            2015届学生干部毕业生座谈会
                                        </figcaption>
                                    </figure>
                                    <figure>
                                        <img src="/images/hz3.jpg" alt="">
                                        <figcaption>
                                            参观叶剑英故居合影
                                        </figcaption>
                                    </figure>
                                    <figure>
                                        <img src="/images/hz4.jpg" alt="">
                                        <figcaption>
                                            “青马班”素质拓展工作人员集体照
                                        </figcaption>
                                    </figure>
                                    <figure>
                                        <img src="/images/hz5.jpg" alt="">
                                        <figcaption>
                                            团委素质拓展集体照
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="tab2">
                                <div class="department-title">
                                    <i>　</i>
                                    <!-- <span class="title1">团委老师</span> -->
                                    <span class="title2">老师风采</span>
                                </div>
                                <div class="person clearfix">
                                    <figure>
                                        <img src="/images/1.jpg" alt="">
                                        <figcaption>
                                            陈晓峰书记
                                        </figcaption>
                                    </figure>
                                    <figure>
                                        <img src="/images/1.jpg" alt="">
                                        <figcaption>
                                            黄志鹏副书记
                                        </figcaption>
                                    </figure>
                                    <figure>
                                        <img src="/images/1.jpg" alt="">
                                        <figcaption>
                                            黄志远老师
                                        </figcaption>
                                    </figure>
                                    <figure>
                                        <img src="/images/1.jpg" alt="">
                                        <figcaption>
                                            古伟民老师
                                        </figcaption>
                                    </figure>
                                    <figure>
                                        <img src="/images/1.jpg" alt="">
                                        <figcaption>
                                            廖佳仪老师
                                        </figcaption>
                                    </figure>
                                    <!-- <div class="swiper-container">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <a href="">
                                                    <img src="/images/1.jpg" alt="">
                                                    <p>
                                                        xxx
                                                    </p>
                                                </a>
                                            </div>
                                            <div class="swiper-slide">
                                                <a href="">
                                                    <img src="/images/1.jpg" alt="">
                                                    <p>
                                                        xxx
                                                    </p>
                                                </a>
                                            </div>
                                            <div class="swiper-slide">
                                                <a href="">
                                                    <img src="/images/1.jpg" alt="">
                                                    <p>
                                                        xxx
                                                    </p>
                                                </a>
                                            </div>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav class="footer-nav">
        <ul class="clearfix">
            <li>
                <a href="index.html">
                    <p><i class="iconfont">&#xe613;</i></p>
                    <p>最新动态</p>
                </a>
            </li>
            <li>
                <a href="service_opinion.html">
                    <p><i class="iconfont">&#xe601;</i></p>
                    <p>服务 | 意见</p>
                </a>
            </li>
            <li>
                <a href="about_us.html">
                    <p><i class="iconfont">&#xe60f;</i></p>
                    <p>关于我们</p>
                </a>
            </li>
        </ul>
    </nav>
<% include footer %>