<% include header %>
<body class="body-bg1">
    <div class="main">
        <div class="banner">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="/images/hzy.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="/images/qc.png" alt=""></div>
                </div>

                <div class="swiper-pagination"></div>
            </div>
        </div>

        <div class="main-content">
            <div class="department-message">
                 <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="tab1">
                                <div class="department-title">
                                    <i>　</i>
                                    <span class="title1"><%= title %></span>
                                    <!-- <span class="title2">老师风采</span> -->
                                </div>
                                <p class="p">
                                    办公室是学生干部与团委老师沟通的桥梁，主要负责团委日常公文的起草、排版、印发、以及各类活动的会务工作，收集、整理和存档各组织活动的相关资料。制定办公室值班岗位责任制，检查办公室各项工作的进展情况。
                                </p>
                                <div class="group-photo">
                                    <figure>
                                        <img src="/images/bgs1.jpg" alt="">
                                        <figcaption>
                                            点赞青春
                                        </figcaption>
                                    </figure>
                                    <figure>
                                        <img src="/images/bgs2.jpg" alt="">
                                        <figcaption>
                                            缩影情人坡 
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="tab2">
                                <div class="department-title">
                                    <i>　</i>
                                    <!-- <span class="title1">团委老师</span> -->
                                    <span class="title2">办公室风采</span>
                                </div>
                                <div class="person clearfix">
                                    <figure>
                                        <img src="/images/1.jpg" alt="">
                                        <figcaption>
                                            13部长：吴小英
                                        </figcaption>
                                    </figure>
                                    <figure>
                                        <img src="/images/1.jpg" alt="">
                                        <figcaption>
                                            13副部长：曾紫婷
                                        </figcaption>
                                    </figure>
                                    <figure>
                                        <img src="/images/1.jpg" alt="">
                                        <figcaption>
                                            13副部长：xxxxx
                                        </figcaption>
                                    </figure>
                                    <figure>
                                        <img src="/images/1.jpg" alt="">
                                        <figcaption>
                                            13副部长：xxxxx
                                        </figcaption>
                                    </figure>
                                    <figure>
                                        <img src="/images/1.jpg" alt="">
                                        <figcaption>
                                            14委员：xxx
                                        </figcaption>
                                    </figure>
                                    <!-- <div class="swiper-container">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <a href="">
                                                    <img src="/images/1.jpg" alt="">
                                                    <p>
                                                        xxx
                                                    </p>
                                                </a>
                                            </div>
                                            <div class="swiper-slide">
                                                <a href="">
                                                    <img src="/images/1.jpg" alt="">
                                                    <p>
                                                        xxx
                                                    </p>
                                                </a>
                                            </div>
                                            <div class="swiper-slide">
                                                <a href="">
                                                    <img src="/images/1.jpg" alt="">
                                                    <p>
                                                        xxx
                                                    </p>
                                                </a>
                                            </div>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav class="footer-nav">
        <ul class="clearfix">
            <li>
                <a href="index.html">
                    <p><i class="iconfont">&#xe613;</i></p>
                    <p>最新动态</p>
                </a>
            </li>
            <li>
                <a href="service_opinion.html">
                    <p><i class="iconfont">&#xe601;</i></p>
                    <p>服务 | 意见</p>
                </a>
            </li>
            <li>
                <a href="about_us.html">
                    <p><i class="iconfont">&#xe60f;</i></p>
                    <p>关于我们</p>
                </a>
            </li>
        </ul>
    </nav>
<% include footer %>