<% include header %>
<body class="body-bg1">
    <div class="main">
        <div class="banner">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="/images/hzy.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="/images/qc.png" alt=""></div>
                </div>

                <div class="swiper-pagination"></div>
            </div>
        </div>

        <div class="main-content">
            <div class="department-message">
                 <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="tab1">
                                <div class="department-title">
                                    <i>　</i>
                                    <span class="title1"><%= title %></span>
                                    <!-- <span class="title2">老师风采</span> -->
                                </div>
                                <p class="p">
                                    延伸各项团学工作到网络领域，建设和维护校团委网站，负责各组织学院上传团委网站的新闻稿审核，校团委各项活动ppt及视频的制作，校团委订阅号的编辑及推送 ，校团委部分活动后台工作人员，每周电脑义务维修活动的开展。
                                </p>
                                <div class="group-photo">
                                    <figure>
                                        <img src="/images/qc.png" alt="">
                                        <figcaption>
                                            青春
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="tab2">
                                <div class="department-title">
                                    <i>　</i>
                                    <!-- <span class="title1">团委老师</span> -->
                                    <span class="title2">信息技术部风采</span>
                                </div>
                                <div class="person clearfix">
                                    <figure>
                                        <img src="/images/1.jpg" alt="">
                                        <figcaption>
                                            13部长：xxx
                                        </figcaption>
                                    </figure>
                                    <figure>
                                        <img src="/images/1.jpg" alt="">
                                        <figcaption>
                                            13副部长：xxx
                                        </figcaption>
                                    </figure>
                                    <figure>
                                        <img src="/images/1.jpg" alt="">
                                        <figcaption>
                                            13副部长：xxxxx
                                        </figcaption>
                                    </figure>
                                    <figure>
                                        <img src="/images/1.jpg" alt="">
                                        <figcaption>
                                            13副部长：xxxxx
                                        </figcaption>
                                    </figure>
                                    <figure>
                                        <img src="/images/1.jpg" alt="">
                                        <figcaption>
                                            14委员：xxx
                                        </figcaption>
                                    </figure>
                                    <!-- <div class="swiper-container">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <a href="">
                                                    <img src="/images/1.jpg" alt="">
                                                    <p>
                                                        xxx
                                                    </p>
                                                </a>
                                            </div>
                                            <div class="swiper-slide">
                                                <a href="">
                                                    <img src="/images/1.jpg" alt="">
                                                    <p>
                                                        xxx
                                                    </p>
                                                </a>
                                            </div>
                                            <div class="swiper-slide">
                                                <a href="">
                                                    <img src="/images/1.jpg" alt="">
                                                    <p>
                                                        xxx
                                                    </p>
                                                </a>
                                            </div>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav class="footer-nav">
        <ul class="clearfix">
            <li>
                <a href="index.html">
                    <p><i class="iconfont">&#xe613;</i></p>
                    <p>最新动态</p>
                </a>
            </li>
            <li>
                <a href="service_opinion.html">
                    <p><i class="iconfont">&#xe601;</i></p>
                    <p>服务 | 意见</p>
                </a>
            </li>
            <li>
                <a href="about_us.html">
                    <p><i class="iconfont">&#xe60f;</i></p>
                    <p>关于我们</p>
                </a>
            </li>
        </ul>
    </nav>
<% include footer %>