
    <nav class="footer-nav">
        <ul class="clearfix">
            <li>
                <a href="/">
                    <p><i class="iconfont">&#xe613;</i></p>
                    <p>最新动态</p>
                </a>
            </li>
            <li>
                <a href="service_opinion">
                    <p><i class="iconfont">&#xe601;</i></p>
                    <p>服务 | 意见</p>
                </a>
            </li>
            <li>
                <a href="about_us">
                    <p><i class="iconfont">&#xe60f;</i></p>
                    <p>关于我们</p>
                </a>
            </li>
        </ul>
    </nav>
    <script src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>

    <script src="javascripts/swiper.min.js"></script>
    <script src="javascripts/script.js"></script>
</body>
</html>