<% include header %>
<body class="body-bg1">
    <!-- <div class="page-title">
        <i class="iconfont page-back">&#xe616;</i>
        <p>这是一个页面标题</p>
        <i class="iconfont page-login">&#xe60c;</i>
    </div> -->

    <div class="main">
        <div class="banner">
            <div class="swiper-container">
                <div class="swiper-wrapper index-banner-item">
                    <div class="swiper-slide">
                        <div>
                            <img src="/images/1.jpg" alt="">
                            <a href="" class="index-hot">
                                <h2>这是一个标题</h2>
                                <p>
                                    2016年5月-6月，我院共8支队伍代表广东省参加2016年全国职业院校技能大赛。经过激烈的角逐，8支代表队均有斩获，分别取得...
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div>
                            <img src="/images/1.jpg" alt="">
                            <a href="" class="index-hot">
                                <h2>这是一个标题</h2>
                                <p>
                                    2016年5月-6月，我院共8支队伍代表广东省参加2016年全国职业院校技能大赛。经过激烈的角逐，8支代表队均有斩获，分别取得...
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div>
                            <img src="/images/1.jpg" alt="">
                            <a href="" class="index-hot">
                                <h2>这是一个标题</h2>
                                <p>
                                    2016年5月-6月，我院共8支队伍代表广东省参加2016年全国职业院校技能大赛。经过激烈的角逐，8支代表队均有斩获，分别取得...
                                </p>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="swiper-pagination"></div>
            </div>
        </div>

        <div class="main-content">
            <div class="title">
                <span>新闻动态</span>
            </div>
            <div class="news-item">
                <figure>
                    <a href="http://mp.weixin.qq.com/s?__biz=MzA5MzQ5MjkyMw==&mid=2650988864&idx=1&sn=19fc73f71ee09bd22ffd3cdd225ccaf4&scene=1&srcid=0612Tb9oJsEpsioWZ7lxGZ3k#rd">
                        <img src="/images/1.jpg" alt="">
                        <figcaption>
                            <h3>
                                这是一个新闻标题，标题可能很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长
                            </h3>
                            <p>
                                新闻的内容，也可能很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长
                            </p>
                        </figcaption>
                    </a>
                </figure>
                <figure>
                    <a href="http://mp.weixin.qq.com/s?__biz=MzA5MzQ5MjkyMw==&mid=2650988864&idx=1&sn=19fc73f71ee09bd22ffd3cdd225ccaf4&scene=1&srcid=0612Tb9oJsEpsioWZ7lxGZ3k#rd">
                        <img src="/images/1.jpg" alt="">
                        <figcaption>
                            <h3>
                                这是一个新闻标题，标题可能很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长
                            </h3>
                            <p>
                                新闻的内容，也可能很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长
                            </p>
                        </figcaption>
                    </a>
                </figure>
                <figure>
                    <a href="http://mp.weixin.qq.com/s?__biz=MzA5MzQ5MjkyMw==&mid=2650988864&idx=1&sn=19fc73f71ee09bd22ffd3cdd225ccaf4&scene=1&srcid=0612Tb9oJsEpsioWZ7lxGZ3k#rd">
                        <img src="/images/1.jpg" alt="">
                        <figcaption>
                            <h3>
                                这是一个新闻标题，标题可能很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长
                            </h3>
                            <p>
                                新闻的内容，也可能很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长
                            </p>
                        </figcaption>
                    </a>
                </figure>
            </div>
        </div>
    </div>
<% include footer %>