<% include header %>
<body class="body-bg1">
    <!-- <div class="page-title">
        <i class="iconfont page-back">&#xe616;</i>
        <p>这是一个页面标题</p>
        <i class="iconfont page-login">&#xe60c;</i>
    </div> -->

    <div class="main">
        <div class="banner">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="/images/1.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="/images/1.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="/images/1.jpg" alt=""></div>
                </div>

                <div class="swiper-pagination"></div>
            </div>
        </div>

        <div class="main-content">
            <div class="title">
                <span><%= title %></span>
            </div>
            <div class="service-item">
                <ul class="clearfix">
                    <li>
                        <!-- 投稿 -->
                        <a href="submission">
                            <img src="/images/1.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <!-- 意见 -->
                        <a href="opinion">
                            <img src="/images/1.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <!-- 组织 -->
                        <a href="http://mp.weixin.qq.com/s?__biz=MzA5MzQ5MjkyMw==&mid=208992259&idx=1&sn=2f14de0dc8ee25fdff005cbf2f0eacfb&scene=18#wechat_redirect">
                            <img src="/images/1.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <!-- 社团 -->
                        <a href="http://mp.weixin.qq.com/s?__biz=MzA5MzQ5MjkyMw==&mid=208992259&idx=2&sn=e09b5e40373a1c7ef88b84d7883605e5&scene=18#wechat_redirect">
                            <img src="/images/1.jpg" alt="">
                        </a>
                    </li>
                    <li class="width-full">
                        <!-- 义务维修 -->
                        <a href="repair">
                            <img src="/images/1.jpg" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
<% include footer %>