<% include header %>
<body class="body-bg1">
    <div class="main">
        <div class="main-content">
            <div class="form">
                <h1>
                    <q>
                        <%= text %>
                    </q>
                </h1>
                <div>
                </div>
            </div>
        </div>
    </div>

<% include footer %>
